<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como Funciona - Tucano Trabalhos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/como-funciona.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/rodape.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/painelnotificacoes.css') }}">
</head>
<body>
    <header class="site-header home-header">
        <div class="logo">
            <a href="{{ url_for('home_') }}">
                <img src="{{ url_for('static', filename='IMG/logo.png') }}" alt="Logo Tucano">
            </a>
        </div>
        <div class="header-icons">
            <a href="{{ url_for('notificacoes') }}">
                <button id="notificacoes-btn" class="icon-bell-btn">
                    <img src="{{ url_for('static', filename='IMG/bell-icon.png') }}" alt="Notificações" class="icon-bell">
                </button>
            </a>      
        
            <a href="{{ url_for('perfil') }}">
                <img src="{{ url_for('static', filename='IMG/profile-pic.png') }}" alt="Perfil" class="profile-pic">
            </a>
        </div>        
    </header>
    
    <!-- Seção Principal -->
    <section class="main-section">
        <div class="container">
            <h1>Veja como funciona</h1>
            <div class="card-container">
                <!-- Card 1 -->
                <div class="card">
                    <h2>Publique uma vaga</h2>
                    <p>Publique a sua vaga para milhares de profissionais. Você irá receber propostas de freelancers talentosos em poucos minutos.</p>
                </div>
                <!-- Card 2 -->
                <div class="card">
                    <h2>Contrate</h2>
                    <p>Reveja o histórico de trabalho, feedback de clientes e portfólio para limitar os candidatos. Então faça uma entrevista pelo chat e escolha o melhor.</p>
                </div>
                <!-- Card 3 -->
                <div class="card">
                    <h2>Pague com segurança</h2>
                    <p>Com o pagamento seguro do Tucano, o pagamento será repassado para o freelancer somente quando o projeto estiver concluído.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Seção de Custos -->
    <section class="pricing-section">
        <div class="container">
            <h2>Quanto custa?</h2>
            <p><strong>Quanto custa usar o Tucano?</strong></p>
            <p>É grátis para se cadastrar, publicar a sua vaga e ver seus candidatos. Nós adicionamos uma taxa de 5% a 20% (R$ 10,00 no mínimo) na oferta do freelancer (a taxa é sobre o valor final). O valor do projeto é repassado ao freelancer apenas quando o trabalho for concluído.</p>
            <p><strong>Existem custos adicionais?</strong></p>
            <p>No momento do pagamento do projeto será cobrada uma taxa referente à forma de pagamento escolhida. Além disso, você pode optar por "Turbinar" o seu projeto com opcionais que custam a partir de R$ 19,90 e te dão uma maior exposição.</p>
        </div>
    </section>

    <footer class="site-footer">
        <p>&copy; 2024 Tucano. Todos os direitos reservados.</p>
        <div class="footer-links">
          <a href="#">Política de Privacidade</a>
          <a href="#">Termos de Uso</a>
        </div>
    </footer>

</body>
</html>
